<div>

    <h1 class="page-title">Our Story</h1>

    <div class="row story-row" *ngFor="let x of imageAndCaptions; let i = index;">
        <!-- Image Container -->
        <div class="col-xs-12 col-sm-6 col-md-6 story-img" [ngClass]="{'pull-right': (i % 2 !== 0)}">
            <img src="{{x.imgUrl}}" class="img-responsive"/>
        </div>

        <!-- Caption Container -->
        <div class="col-xs-12 col-sm-6 col-md-6 story-caption">
            <i class="fas fa-quote-left quotes-icon"></i>
            <span><i>{{x.caption}}</i></span>
            <i class="fas fa-quote-right quotes-icon"></i>
        </div>
    </div>

</div>